.container {
    max-width: 1170px;
    margin: 0 auto;
}
.row{
    display: flex;
    flex-direction: row;
}
.column{
    display: flex;
    flex-direction: column;
}
.relative{
    width: 100%;
    position: relative;
}
.fixed{
    width: 100%;
    position: fixed;
}
.center{
    align-items: center;
    justify-content: center;
}
